{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <ul class="nav nav-pills">
        <li class="active"><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'agregarAsignatura' %}">Asignatura</a></li>
        <li><a href="{% url 'agregarAsignatura' %}">Alumnos</a></li>
        <li><a href="{% url 'agregarCarrera' %}">Carreras profesionales</a></li>
        <li><a href="{% url 'agregarModulo' %}">Modulo</a></li>
        <li><a href="{% url 'agregarDocente' %}">Docente</a></li>
        <li><a href="agregarModulo">Aulas</a></li>
    </ul>
    <meta charset="UTF-8">
    <title>Crear Alumnos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CRUD de Alummnos</a>
            </div>            
        </div>
    </div>

    <div class="container">

        <div class="page-header">
            <h4>
                <a href="{% url 'inicio' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
                <strong>Alumno: {{ alumno }}</strong>
            </h4>
        </div><!-- page-header -->
        
        <div class="row">
            <div class="col-md-9">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ alumno.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ alumno.apellidos }}</td>
                        </tr>
                        <tr>
                            <th>Fecha Nacimiento</th>
                            <td>{{ alumno.fecha_nacimineto }}</td>
                        </tr>
                        <tr>
                            <th>Carrera Profesional</th>
                            <td>{{ alumno.carrera }}</td>
                        </tr>
                        <tr>
                            <th>Carrera Profesional</th>
                            <td>{{ alumno.carrera }}</td>
                        </tr>
                        <tr>
                            <th>Correo</th>
                            <td>{{ alumno.correo }}</td>
                        </tr>
                    </tbody>
                </table>

            </div><!-- col-md-12 -->

        </div><!-- /row -->
    </div><!-- /container -->

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>