{% extends "users/panel/panel.html" %}

{% block contenido_panel %}
    <div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="#"><i class="fa fa-chevron-left left"></i>Regresar</a>    
            </div>
            <div class="col s7">
                <h5 class="header2">Crear nuevo docente</h5>    
            </div>
        </div>
        <div class="divider"></div>
      
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <form class="col s12">
                    

                                        
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}