{% extends "users/panel/panel.html" %}

{% block contenido_panel %}
    <div class="container container-panel">
      <div class="row">
        <div class="col s8">
          <h6>Hay <span class="count-panel">5</span> docentes disponibles</h6>
        </div>
        <div class="col s4">
          <a class="waves-effect waves-light btn" href="#"><i class="fa fa-plus left"></i>agregar docente</a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <table class="bordered hoverable">
        <thead>
          <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Fecha de nacimiento</th>
              <th>Telefono</th>
              <th>Email</th>              
              <th>Tipo de docente</th>              
              <th>Especialidad</th>              
              <th colspam="2">Acciones</th>              
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>$0.87</td>
            <td>$0.87</td>
            <td>$0.87</td>
            <td>$0.87</td>
            <td>
              <a href="#" class="btn green"><i class="fa fa-eye"></i></a>
              <a href="#" class="btn yellow"><i class="fa fa-edit"></i></a>
              <a href="#" class="btn red"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
{% endblock contenido_panel %}