{% extends "users/panel/base_panel.html" %}

{% block title %}panel de registro de notas y asistencia{% endblock title %}

  {% block titulo_nav %} Panel de docente{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            
            {% for carga in ASIGNATURAS %}
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">{{ carga.asignatura }} grupo {{ carga.grupo.grupo }}</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{% url 'notas_app:notas_parciales' carga.asignatura.pk carga.grupo.pk %}">notas</a></li>
                            <li><a href="{% url 'asistencia_app:asistencia_alumno' carga.asignatura.pk carga.grupo.pk %}">asistencia</a></li>
                            <li class="divider"></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
            
        </ul>
    </li>
    {% endblock funciones %}

    {% block mensajes %}
        {% if messages %}
            <div class="card-panel">
                {% for mensaje in mensajes %}
                    {{ mensaje }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock mensajes %}