{% extends "panel_matricula/panel.html" %}

{% block contenido_panel %}
    <div class="container panel-container">
      <div class="row">
        <div class="col s6 m4">
          <a class="waves-effect waves-light btn" href="#"><i class="fa fa-plus left"></i>Exportar a Pdf</a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Asignatura</th>
              <th>Nota</th>            
          </tr>
        </thead>
        <tbody>

          {% for nota in  notas %}
            <tr>
              <td>{{ nota.asignatura.nombre}}</td>
              <td>{{ nota.promedio}}</td>
            </tr>            
          {% endfor %}

        </tbody>
      </table>
      </div>
    </div>
{% endblock contenido_panel %}