{% extends "users/panel/panel.html" %}

{% block contenido_panel %}
    <h1>Panel de estructura de pagos</h1>
    
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Monto Matricula  </label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Monto Mensualidad</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="No editable" id="disabled" type="text" class="validate">
          <label for="disabled">Fecha Liminte1</label>
          <a class="waves-effect waves-light btn">Agregar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Modificar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Eliminar</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="No editalble" id="disabled" type="text" class="validate">
          <label for="disabled">Fecha Liminte2</label>
          <a class="waves-effect waves-light btn">Agregar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons left"></i>modificar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Eliminar</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="No editalble" id="disabled" type="text" class="validate">
          <label for="disabled">Fecha Liminte3</label>
          <a class="waves-effect waves-light btn">Agregar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Modificar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Eliminar</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="NO editable" id="disabled" type="text" class="validate">
          <label for="disabled">Fecha Liminte1</label>
          <a class="waves-effect waves-light btn">Agregar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Modificar</a>
          <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Eliminar</a>
        </div>
      </div>
    </form>
  </div>
        
{% endblock contenido_panel %}