{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <ul class="nav nav-pills">
        <li class="active"><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'listarAsignatura' %}">Asignatura</a></li>
        <li><a href="{% url 'listarAlumno' %}">Alumnos</a></li>
        <li><a href="{% url 'listarCarrera' %}">Carreras profesionales</a></li>
        <li><a href="{% url 'listarModulo' %}">Modulo</a></li>
        <li><a href="{% url 'listarDocente' %}">Docente</a></li>
        <li><a href="{% url 'listarModulo' %}">Aulas</a></li>
    </ul>
    <meta charset="UTF-8">
    <title>Crear Docente</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CRUD de Docente</a>
            </div>            
        </div>
    </div>

    <div class="container">

        <div class="page-header">
            <h4>
                <a href="{% url 'listarDocente' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
                <strong>Docente: {{ docente }}</strong>
            </h4>
        </div><!-- page-header -->
        
        <div class="row">
            <div class="col-md-9">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>DNI</th>
                            <td>{{ docente.dni }}</td>
                            <td>{{ docente.dni}}</td>
                        </tr>
                        <tr>
                            <th>Nombres</th>
                            <td>{{ docente.nombres }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ docente.apellidos }}</td>
                        </tr>
                        <tr>
                            <th>Tipo</th>
                            <td>{{ docente.tipo_docente }}</td>
                        </tr>
                        <tr>
                            <th>Especialidad</th>
                            <td>{{ docente.especialidad }}</td>
                        </tr>
                        <tr>
                            <th>Fecha Nacimiento</th>
                            <td>{{ docente.fecha_nacimiento }}</td>
                        </tr>
                        <tr>
                            <th>Telefono</th>
                            <td>{{ docente.telefono }}</td>
                        </tr>
                        <tr>
                            <th>Sexo</th>
                            <td>{{ docente.sexo }}</td>
                        </tr>
                        <tr>
                            <th>Direccion</th>
                            <td>{{ docente.direccion }}</td>
                        </tr>
                        <tr>
                            <th>Correo</th>
                            <td>{{ docente.email }}</td>
                        </tr>
                        <tr>
                            <th>Foto</th>
                            <td>{{ docente.foto }}</td>
                        </tr>
                    </tbody>
                </table>

            </div><!-- col-md-12 -->

        </div><!-- /row -->
    </div><!-- /container -->

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>