{% extends "users/panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Panel de Administrador{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Mantenimientos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'asistencia_app:panel_docente' %}">Docentes</a></li>
                        <li><a href="#">Admistrativos</a></li>
                        <li><a href="{% url 'notas_app:panel_asignatura' %}">Asignaturas</a></li>
                        <li><a href="{% url 'matricula_app:home_carrera' %}">Carreras Profesionales</a></li>
                        <li><a href="{% url 'notas_app:panel_modulo' %}">Modulos</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'asistencia_app:panel_horario' %}">Horarios</a></li>
                        <li><a href="{% url 'asistencia_app:panel_aula' %}">Aulas</a>
                        <li><a href="{% url 'matricula_app:home_programacion' %}">Programacion</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'pagos_app:panel_descuento' %}">Descuentos</a></li>
                        <li><a href="{% url 'pagos_app:panel_estructurapagos' %}">Estructura de pagos</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Procesos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'users_app:add_admin' %}">Agregar Administrador</a></li>
                        <li><a href="{% url 'users_app:add_cajero' %}">Agregar Cajero</a></li>
                        <li><a href="{% url 'users_app:add_docente' %}">Agregar Docente</a></li>
                        <li><a href="{% url 'matricula_app:registrar_matricula' %}">Matricula</a></li>
                        <li><a href="{% url 'matricula_app:pre_matricula' %}">Pre Matricula</a></li>
                        <li><a href="{% url 'pagos_app:matricula_pendiente' %}">Registrar Pago</a></li>
                        <li><a href="{% url 'asistencia_app:asistencia_docente' %}">Asistencia Docente</a></li>
                        <li><a href="#">Ingresar Notas</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Consultas</a>
              <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'matricula_app:matricula_semestre' %}">Matricula Por Semestre</a></li>
                        <li><a href="#">Dialogs</a></li>
                        <li><a href="#">Dropdown</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Modals</a></li>
                    </ul>
              </div>
            </li>
        </ul>
        <div class="col s1">
                <a class="waves-effect waves-light btn btn-back" href="http://isc.herokuapp.com/"><i class="fa fa-chevron-left left"></i>Home</a>    
    </div>
    </li>
    {% endblock funciones %}