{% extends "users/panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Panel de Administrador{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Procesos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'pagos_app:matricula_pendiente' %}">Registrar Pago</a></li>
                        <li><a href="{% url 'pagos_app:panel_descuento' %}">Descuentos</a></li>
                        <li><a href="{% url 'pagos_app:pago_matricula_libre_view' %}">Pago Curso Libre</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Consultas</a>
              <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'matricula_app:matricula_semestre' %}">Matricula Por Semestre</a></li>
                        <li><a href="#">Deudores</a></li>
                        <li><a href="#">Becados</a></li>
                    </ul>
              </div>
            </li>
        </ul>
        <div class="col s1">
                <a class="waves-effect waves-light btn btn-back" href="http://isc.herokuapp.com/"><i class="fa fa-chevron-left left"></i>Home</a>    
    </div>
    </li>
    {% endblock funciones %}