{% extends "users/panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Panel de Docente{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Procesos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'notas_app:listar_cursos' %}">Registrar Notas y Asistencia </a></li>
                        <li><a href="{% url 'asistencia_app:asistencia_docente' %}">Marcar Asistencia Docente</a></li>
                        <li><a href="#">subir silabu</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Consultas</a>
              <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Asistencias</a></li>
                        <li><a href="#">Asistencia Alumnos</a></li>
                    </ul>
              </div>
            </li>
        </ul>
        <div class="col s1">
                <a class="waves-effect waves-light btn btn-back" href="http://isc.herokuapp.com/"><i class="fa fa-chevron-left left"></i>Home</a>    
    </div>
    </li>
    {% endblock funciones %}