<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        {{ form }}
        <div class="row">
            <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">guardar
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </div>
    </form>
</body>
</html>