{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matricula</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
            <div class="row">
            <div class="col-md-12">
                <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Ingresa su DNI </p>
                    
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors }}
                        </div>                        
                    {% endif %}
                    <div class="form-group">
                        <label>{{ form.dni.label_tag }}</label>
                        {{ form.dni }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">verificar</button>
                    </div>
                </form>
        
            </div><!-- col-md-12 -->        
        </div><!-- /row -->
    </div><!-- /container -->
</body>
</html>