{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<div class="list-group">
  <a href="{% url 'listarAsignatura' %}" class="list-group-item">MANTENIMIENTOS</a>
  <a href="{% url 'matricular' %}" class="list-group-item">MATRICULA</a>
  <a href="{% url 'pagos' %}" class="list-group-item">PAGOS</a>
  <a href="{% url 'asistencia' %}" class="list-group-item">ASISTENCIA</a>
</div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
