 <footer class="page-footer cyan">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">            
                <p class="grey-text text-lighten-4">Av. de la Cultura, Nro. 733</p>
                <p class="grey-text text-lighten-4">5to Piso Pabellón del Centro de Idiomas</p>
                <p class="grey-text text-lighten-4">UNSAAC</p>
                <p class="grey-text text-lighten-4">Cusco/Perú</p>
                <p class="grey-text text-lighten-4">Telf: 084-237321</p>                
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="isc.unsaac.edu.pe">Web</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://facebook.com/neunapp">Email:waldo.ibarra@unsaac.edu.pe</a></li>
                  <li><p class="face"><a class="grey-text text-lighten-3" href="https://facebook.com/neunapp" target="_blank"><i class="fa fa-facebook-square fa-lg"></i> Visitanos en Facebook</a></p></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        <div class="container">
            ©2015 Instituto de Sistemas Cusco | ISC-UNSAAC
            <a class="grey-text text-lighten-4 right" href="https://facebook.com/neunapp">creado por</a>
        </div>
    </div>
</footer>