{% load staticfiles %}
<nav class="cyan">
  <div class="container">
    <div class="nav-wrapper">
      <a href="{% url 'matricula_app:inicio' %}" class="brand-logo">ISC</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'matricula_app:inicio' %}">Inicio</a></li>
        <li><a href="#">Misión & Visión</a></li>
        <li><a href="#">Contactenos</a></li>
        <li><a href="{% url 'matricula_app:pre_matricula' %}">Pre Matricula</a></li>
        <li>
          {% if not user.is_authenticated %}
            <a href="{% url 'users_app:login' %}">Iniciar Sesión</a>
          {% else %}
            <ul id="profile-dropdown" class="dropdown-content">
                <li><a href="{% url 'users_app:panel_admin' %}">Panel</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'users_app:logout' %}">Salir</a></li>
            </ul>
            <a class="dropdown-button valign-wrapper" data-activates="profile-dropdown"><img class="circle responsive-img valign profile-image" src="{{ user.avatar.url }}" alt=""><i class="mdi-navigation-arrow-drop-down"></i></a>
          {% endif %}
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'matricula_app:inicio' %}">Inicio</a></li>
        <li><a href="#">Misión & Visión</a></li>
        <li><a href="#">Contactenos</a></li>
        <li><a href="{% url 'users_app:login' %}">Iniciar Sesión</a></li>
      </ul>
    </div>    
  </div>
</nav>
        